= render partial: 'layouts/header-black'

.left-images
.about
  %p.about-title ABOUT
  %p.about-description
    SECURUS　＝　自由気ままに<br>
    をテーマに作られたアパレルブランド。<br><br>
    設立は2015年の冬。<br><br>
    masaki（Designer)を中心に<br>
    ストリート系のプロダクトを<br>
    生み出し続けている。<br><br>
    サブテーマには<br>
    make the street<br>
    という言葉があり、<br>
    自ら道を切り開くという<br>
    信念が込められている。<br>
.right-images

= javascript_include_tag 'about.js'