.header
  %p.header__title SECURUS
  %p.header__sub-title - EST.1996.JPN -
  .header__btn
    %p.header__btn-about ABOUT
    %p.header__btn-products PRODUCTS
    %p.header__btn-form FORM
    %p.header__btn-sns SNS
