.header-sub{
  height: 15vh;
  width: 80vw;
  margin-left: 10vw;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: black;
  &__title{
    height: 6vh;
    width: 80vw;
    float: left;
    font-size: 6vmin;
    text-align: center;
  } 
  &__sub-title{
    height: 2vh;
    width: 80vw;
    float: left;
    font-size: 2vmin; 
    text-align: center;
  }
  &__btn{
    height: 7vh;
    width: 80vw;
    float: left;
    .header-sub__btn-about{
      height: 7vh;
      width: 20vw;
      float: left;
      text-align: center;
      line-height: 7vh;
      font-size: 2vmin;
      color: black;
      text-decoration: none;
    }
    .header-sub__btn-products{
      height: 7vh;
      width: 20vw;
      float: left;
      text-align: center;
      line-height: 7vh;
      font-size: 2vmin;
      color: black;
      text-decoration: none;
    }
    .header-sub__btn-form{
      height: 7vh;
      width: 20vw;
      float: left;
      text-align: center;
      line-height: 7vh;
      font-size: 2vmin;
      color: black;
      text-decoration: none;
    }
    .header-sub__btn-mypage{
      height: 7vh;
      width: 20vw;
      float: left;
      text-align: center;
      line-height: 7vh;
      font-size: 2vmin;
      color: black;
      text-decoration: none;
    }
  }
}