.header-black{
  height: 15vh;
  width: 60vw;
  margin-left: 20vw;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  &__title{
    height: 6vh;
    width: 60vw;
    float: left;
    padding-top: 0.5vh;
    font-size: 6vmin;
    text-align: center;
    text-decoration: none;
    color: black;
    display: none;
  } 
  &__sub-title{
    height: 2vh;
    width: 60vw;
    float: left;
    padding-top: 1.5vh;
    font-size: 2vmin; 
    text-align: center;
    color: black;
    display: none;
  }
  &__btn{
    height: 7vh;
    width: 60vw;
    float: left;
    .header-black__btn-news{
      height: 7vh;
      width: 12vw;
      float: left;
      text-align: center;
      line-height: 7vh;
      font-size: 2vmin;
      color: black;
      text-decoration: none;
      display: none;
    }
    .header-black__btn-products{
      height: 7vh;
      width: 12vw;
      float: left;
      text-align: center;
      line-height: 7vh;
      font-size: 2vmin;
      color: black;
      text-decoration: none;
      display: none;
    }
    .header-black__btn-about{
      height: 7vh;
      width: 12vw;
      float: left;
      text-align: center;
      line-height: 7vh;
      font-size: 2vmin;
      color: black;
      text-decoration: none;
      display: none;
    }
    .header-black__btn-mypage{
      height: 7vh;
      width: 12vw;
      float: left;
      text-align: center;
      line-height: 7vh;
      font-size: 2vmin;
      color: black;
      text-decoration: none;
      display: none;
    }
    .header-black__btn-cart{
      height: 7vh;
      width: 12vw;
      float: left;
      text-align: center;
      line-height: 7vh;
      font-size: 2vmin;
      color: black;
      text-decoration: none;
      display: none;
    }
    .header-black__btn-signup{
      height: 7vh;
      width: 12vw;
      float: left;
      text-align: center;
      line-height: 7vh;
      font-size: 2vmin;
      color: black;
      text-decoration: none;
      display: none;
    }
    .header-black__btn-login{
      height: 7vh;
      width: 12vw;
      float: left;
      text-align: center;
      line-height: 7vh;
      font-size: 2vmin;
      color: black;
      text-decoration: none;
      display: none;
    }
  }
}