.login-btn{
  width: 60vw;
  font-size: 2.5vmin;
  margin-top: 2.5vh;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
.signup-btn{
  width: 60vw;
  font-size: 2.5vmin;
  margin-top: 2.5vh;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
.forget-btn{
  width: 60vw;
  font-size: 2.5vmin;
  margin-top: 2.5vh;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}