.news{
  height: 100vh;
  width: 100vw;
  }
  .news-1{
    height: 30vh;
    width: 41vw;
    margin: 22.5vh 3vw 3vh 6vw;
    float: left;
    position: relative;
    text-decoration: none;
    }
    .news-1-cover{
      height: 30vh;
      width: 41vw;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0.6;
      z-index: 1;
      display: none;
    }
    .news-1-title{
      height: 30vh;
      width: 41vw;
      color: #ffffff;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 30vh;
      font-size: 3vmin;
      z-index: 2;
      display: none;
    }
    .news-1-1-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
    }
    .news-1-2-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
      display: none;
    }
    .news-1-3-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
      display: none;
    }
    .news-1-4-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
      display: none;
    }
  .news-2{
    height: 30vh;
    width: 41vw;
    margin: 22.5vh 6vw 3vh 3vw;
    float: left;
    position: relative;
    text-decoration: none;
    }
    .news-2-cover{
      height: 30vh;
      width: 41vw;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0.6;
      z-index: 1;
      display: none;
    }
    .news-2-title{
      height: 30vh;
      width: 41vw;
      color: #ffffff;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 30vh;
      font-size: 3vmin;
      z-index: 2;
      display: none;
    }
    .news-2-1-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
    }
    .news-2-2-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
      display: none;
    }
    .news-2-3-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
      display: none;
    }
    .news-2-4-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
      display: none;
    }
  .news-3{
    height: 30vh;
    width: 41vw;
    margin: 3vh 3vw 0 6vw;
    float: left;
    position: relative;
    text-decoration: none;
    }
    .news-3-cover{
      height: 30vh;
      width: 41vw;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0.6;
      z-index: 1;
      display: none;
    }
    .news-3-title{
      height: 30vh;
      width: 41vw;
      color: #ffffff;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 30vh;
      font-size: 3vmin;
      z-index: 2;
      display: none;
    }
    .news-3-1-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
    }
    .news-3-2-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
      display: none;
    }
    .news-3-3-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
      display: none;
    }
    .news-3-4-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
      display: none;
    }
  .news-4{
    height: 30vh;
    width: 41vw;
    margin: 3vh 6vw 0 3vw;
    float: left;
    position: relative;
    text-decoration: none;
    }
    .news-4-cover{
      height: 30vh;
      width: 41vw;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0.6;
      z-index: 1;
      display: none;
    }
    .news-4-title{
      height: 30vh;
      width: 41vw;
      color: #ffffff;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 30vh;
      font-size: 3vmin;
      z-index: 2;
      display: none;
    }
    .news-4-1-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
    }
    .news-4-4-image{
      height: 30vh;
      width: 41vw;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: black solid 1px;
      display: none;
    }