.header-sub
  %p.header-sub__title SECURUS
  %p.header-sub__sub-title - EST . 1996 . JPN -
  .header-sub__btn
    = link_to 'ABOUT', about_views_path, class: "header-sub__btn-about"
    = link_to 'PRODUCTS', products_path, class: "header-sub__btn-products"
    = link_to 'FORM', form_views_path, class: "header-sub__btn-form"
    = link_to 'SNS', users_path, class: "header-sub__btn-mypage"